.card {
    background-color:  #007ab3;
    color: white;
  }

.card-header {
    background-color: white;
    color:  #007ab3 !important;
    border: 1px solid rgb #007ab3;
}

.card-amount {
    background-color: white;
    padding: 2px;
    border-radius: 5px;
  }

h1 {
    color:  #007ab3 !important;
    text-align: center;
}