<div class="container" style="margin-top: 70px;">

    <div>
        <h1> {{ this.current_category }}</h1>
    </div>

    <!-- <div *ngFor = "let transaction of webService.category_transactions_list">          
      <div class="col">
      <span>{{ transaction.description }}</span>
    </div>
    <div class="col text-end">
      <div class="card-amount">
        <ng-container *ngIf="transaction.transaction_direction === 'outcome'; else income">
          <span class="text-danger">-£{{ transaction.amount }}</span>
        </ng-container>
        <ng-template #income>
          <span class="text-success">+£{{ transaction.amount }}</span>
        </ng-template>
      </div>
    </div> -->



    <div *ngFor = "let transaction of webService.category_transactions_list">   
      <div class="card text-white mb-3" style="width: 40rem; margin: auto; cursor: pointer;"
            [routerLink] = "['/transactions', transaction.id]">
        <div class="card-body">
          <div class="row">
              <div class="col">
                <span>{{ transaction.description }}</span>
              </div>
              <div class="col text-end">
                <div class="card-amount">
                  <ng-container *ngIf="transaction.transaction_direction === 'outcome'; else income">
                    <span class="text-danger">-£{{ transaction.amount }}</span>
                  </ng-container>
                  <ng-template #income>
                    <span class="text-success">+£{{ transaction.amount }}</span>
                  </ng-template>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
      <div class="row" *ngIf="webService.balance_list">
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
                Total Income
              </div>
              <div class="card-body">
                <p class="card-text">£{{ webService.balance_list.total_income }}</p>
              </div>
          </div>
        </div>
      
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
                Total Outcome
              </div>
              <div class="card-body">
                <p class="card-text">£{{ webService.balance_list.total_outcome }}</p>
              </div>
          </div>
        </div>
      
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
                Balance
              </div>
              <div class="card-body">
                <p class="card-text">£{{ webService.balance_list.balance }}</p>
              </div>
          </div>
        </div>
      </div>
    

</div>