.navbar {
    background-color: #007ab3;
}

.navbar-brand {
    margin-right: auto;
    color: white;
}

.nav-link {
    color: #e6f7ff;
}

.btn-sign-out {
    background-color: #007ab3;
    color: white;
    border: 1px solid white;
}

.btn-sign-out:hover {
    background-color: #80d7ff;
}

.search-btn{
    background-color: white;
    color: #007ab3;
    border: 1px solid;
}

.search-btn:hover{
    background-color: #e6f7ff;
    color: rgb#007ab3;
    border: 1px solid #007ab3;
}

.nav-title {
    padding: 0.5rem;
    font-weight: bold;
}