<div class="container">
    <div *ngFor = "let transaction of webService.transactions_list">
      <div class="card text-white mb-3" style = "width: 50rem; margin: auto">
        <div class="row g-0">
          <div class="col-md-4">
            <div class="card-body">
              {{transaction.description}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-body">
              {{transaction.transaction_direction}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-body">
              £{{transaction.amount}}
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card bg-light mb-3" 
                style = "width: 50rem; margin: auto"
                *ngFor = "let note of webService.notes_list">
                <!-- <div class="card-header">
                    Notes
                </div> -->
                <div class="card-body">
                    {{ note.note }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <!-- <h2>Add note</h2> -->
            <form [formGroup] = "noteForm" (ngSubmit)="onSubmit()">
                <div class="from-group">
                    <label for="note">Add note</label>
                    <textarea name="note" id="note" rows="3" 
                        class="form-control" formControlName="note"
                        [ngClass]="{ 'error' : isInvalid('note') }"></textarea>
                </div>

                <span *ngIf="isIncomplete()">
                    You have an incomplete note
                </span>
                
                <button *ngIf="!isIncomplete()"
                    type="submit"
                    class="btn.btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
