.card {
    background-color: rgb(12, 120, 93);
    /* outline: rgb(12, 120, 93); */
  }

  .card-amount {
    background-color: white;
    padding: 2px;
    border-radius: 5px;
  }

.transaction-form-button {
  background-color: rgb(12, 120, 93);
  color: white;
}

.submit-btn{
    background-color: white;
    color: rgb(12, 120, 93);
    border: 1px solid rgb(12, 120, 93);
}

.submit-btn:hover {
  background-color: rgb(207, 239, 232);
}