.card {
    background-color: #236b8d;
  }

.card-amount {
    background-color: white;
    padding: 2px;
    border-radius: 5px;
  }

.submit-btn{
    background-color: white;
    color: #236b8d;
    border: 1px solid #236b8d;
}

.submit-btn:hover {
  background-color: #e6f7ff ;
}

h2 {
  color: #20526a !important;
  text-align: center;
  margin: 20px;
}

.error { background-color: #fff0f0; }