<!-- <div *ngFor = "let transaction of transactions_list">
    <p>
        Description: {{transaction.description}} <br>
        Amount: £{{transaction.amount}} <br>
        Income/Outcone: {{transaction.transaction_direction}} <br>
        Category: {{transaction.category}} <br>
        Date: {{transaction.date}} <br>
        Notes: {{transaction.notes}} <br>
    </p> -->


<div class="container" style="margin-top: 70px;">

  <div class="text-center" style="margin-bottom: 20px; margin-left: 10px;">
    <button class="btn transaction-form-button" style="margin-bottom: 20px;" (click)="openTransactionForm()">Add Transaction</button>
  </div>

  <div *ngIf="showTransactionForm">
    <h2>Add Transaction</h2>
    <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()" style="margin-bottom: 20px;">
      <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" class="form-control" id="description" placeholder="Enter description" formControlName="description">
      </div>
      <div class="form-group">
        <label for="direction">Transaction Direction:</label>
        <select class="form-control" id="direction" formControlName="transaction_direction">
          <option value="income">Income</option>
          <option value="outcome">Outcome</option>
        </select>
      </div>
      <div class="form-group">
        <label for="amount">Amount:</label>
        <div class="input-group">
          <span class="input-group-text">£</span>
          <input type="number" class="form-control" id="amount" placeholder="Enter amount" aria-label="Amount" formControlName="amount">
        </div>
      </div>
      <div class="form-group">
        <label for="category">Category:</label>
        <input type="text" class="form-control" id="category" placeholder="Enter category" formControlName="category">
      </div>
      <div class="form-group">
        <label for="date">Date:</label>
        <input type="date" class="form-control" id="date" formControlName="date">
      </div>
      <button type="submit" class="btn submit-btn" style="margin-top: 20px;">Submit</button>
    </form>
  </div>

  <div class="mb-3" style="text-align: center;">
    <select class="form-select" style="width: 10rem; margin: auto;" (change)="onTransactionDirectionSelect($event)">
      <option value="All">All</option>
      <option value="In">In</option>
      <option value="Out">Out</option>
    </select>
  </div>

  <div *ngFor="let transaction of webService.transactions_list">
    <div class="card text-white mb-3" style="width: 40rem; margin: auto; cursor: pointer;"
        [routerLink] = "['/transactions', transaction.id]">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <span>{{ transaction.description }}</span>
          </div>
          <div class="col text-end">
            <div class="card-amount">
              <ng-container *ngIf="transaction.transaction_direction === 'outcome'; else income">
                <span class="text-danger">-£{{ transaction.amount }}</span>
              </ng-container>
              <ng-template #income>
                <span class="text-success">+£{{ transaction.amount }}</span>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-sm-6">
          <button class="btn btn-dark"
                  (click) = "previousPage()">
              Previous
          </button>
      </div>
      <div class="col-sm-6 text-end">
          <button class="btn btn-dark"
                  (click) = "nextPage()">
              Next
          </button>
      </div>
  </div>
  
</div>
