<div class="container">
    <div *ngFor = "let transaction of webService.transactions_list">
      <div class="card text-white mb-3" style = "width: 50rem; margin: auto">
        <div class="row g-0">
          <div class="col-md-4">
            <div class="card-body">
              {{transaction.description}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-body">
              {{transaction.transaction_direction}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-body">
              £{{transaction.amount}}
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card bg-light mb-3" 
                style = "width: 50rem; margin: auto"
                *ngFor = "let note of webService.notes_list">
                <div class="card-header">
                    Notes
                </div>
                <div class="card-body">
                    {{ note.note }}
                </div>
            </div>
        </div>
    </div>
</div>
